
$font-size-large: clamp(1.8em, 3vw, 2.3em);
$font-size-medium: clamp(1.2em, 3vw ,1.5em);
$font-size-small: 1.2em;
$font-size-tiny: .9em;

$primary-color: black;
$second-color: #333;
$third-color: #595959;
$accent-color: #ff00aa;

$primary-bg-color: #e94e33;
$second-bg-color: #FF5ACD;

$max-width: 1400px;

$padding-global: 2% 5%;
